*{
    margin: 0;
}
body{
    flex-wrap: wrap;
    /* flex-wrap- mtlb diplay me agar display choti ya badi kre toh box ka size bhi change hoga */
}
.container{
    background-color: aqua;
    height: 800px;
    width: 800px;
    display: flex;
    /* display: flex; - flex krenge toh ye row wise ARRANGE ho jayega
          */
    flex-direction: row;
    
    /*  flex-direction: column;-  flex-direction: column krne se ye box colum me arrange ho jayeng
         flex-direction: column-reverse; - colum reverse wise mtlb niche ki aur colun me arrange ho jayega
         flex-direction: row-reverse; - row reverse krne se box opposite side se arrange ho jayege row wise
          */
    justify-content: center;
    /* justify-content- it will be around main access
    THERE ARE MANY TYPES- 1-start
                        2- center
                        3-end
     4- space-around= mtlb ye equally space le lete h
    5- space-between= mtlb startin and ending me space nhi leta
    6- space-evenly= equally space lete h
    */
    align-items: center;
      /* -align-items- there are three type
       1-start,end ,center */
}
.box{
    
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 5px, solid , rgb(73, 69, 69);
    font-weight: bold;
    padding-left: 5px;
}
.box1{
    background-color: red ;
}
.box2{
    background-color: green;

}
.box3{
    background-color: yellow;
}
.box4{
    background-color: orange;
}
.fontsize{
    align-items: baseline;
    width: 800px;
    display: flex;
    align-items: center;
}
.first{
    font-size: 50px;
    display: inline-block;
}
.second{
    display: inline-block;
    font-size: 25px;
}